html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: #01A654;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    overflow: hidden;
    width: 100%;
    margin: 0px;
}

h2 {
    display: inline;
    text-align: center;
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 40px;
    color: #eee;
    padding: 3px;
    margin: 0px;
}

p {
    text-align: justify;
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 18px;
    color: #eee;
    padding: 3px;
    margin: 0px;
    height:80%;
}

.logo
{
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.maintext
{
    height: 40%;
    overflow: scroll;
}
/*
.title {
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 100px;
}*/
/*
.text {
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 60%;
    overflow: scroll;
    cursor: default;
}*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
}

.rvlogo {
    display: none;
    width: 300px;
    vertical-align: top;
    font-family: Arial;
    font-size: 9pt;
    line-height: normal
}

::-webkit-scrollbar {
    display: none;
}

input[type="text"] {
    margin: 0px;
    display: inline;
    padding: 10px;
    border: none;
    /*border-bottom: solid 2px #eee;*/
    background: #01A654;
    transition: border 0.3s;
    outline: none;
    font-size: 35px;
    font: 'Lato';
    font-weight: 100;
    color: #eee;
    width: 100%;
    text-overflow: visible;
}

input[type="text"]::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.3;
}


/*30, 206, 153*/


/*1, 166, 84*/
